:root {
    --primario: #3b6d90;
    --secundario: #054b7E;
    --blanco: #ffffff;
    --negro: #212121;
}

html {
    font-size: 62.5%;
}

body {
    text-align: center;
    font-size: 16px;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    background-color: #f0f9ff;
}



.relleno { 
     background-color: var(--secundario); 
     padding: 0.2rem; 
     } 

.logo {
    display: flex;
    justify-content: center;
    position: fixed;
    margin-left: 2em;
    margin-top: 3px;
}

.logo .imagen-inicio {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.titulo {
    margin-top: 5rem;
    color: var(--negro);
    text-align: center;
    font-size: 3.3;
}
.tag {
    color: var(--blanco);
    text-align: center;
    font-size: 3.4rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto 0 auto;
}

.nav-bg {
    background-color: var(--primario);
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    padding: 1rem;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
}

.navegacion-principal a:hover {
    background-color: var(--blanco);
    color: var(--oscuro)
}

table {
    margin: 20px auto;
    border-collapse: separate;
  }
  
th, td {
    padding: 18px;
    border: 1px solid var(--negro);
    width: 100px;
  }
  
th {
    color: var(--negro);
    background-color: #f0f9ff;
    font-weight: 700;
    width: 200px;
  }
  
td {
    text-align: center;
  }
  
td[id^="asignatura"], td[id^="profesor"] {
    cursor: pointer;
    background-color: #f0f9ff;
}
  
td[id^="asignatura"]:hover, td[id^="profesor"]:hover {
    background-color: #f9f9f9;
}

.bienvenidos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bienvenidos .titulo {
    margin: 12px;
    padding: 0.5rem;
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 700;
    background-color: #054b7E;
    width: 65rem;
    text-align: center;
}